@charset "UTF-8";
/* CSS Document */

ul {
    list-style-type: none;
    margin-left: 60px;
    padding: 0;
    overflow: hidden;
	
}

li {
    float: left;
	padding-top: 20px;
	padding-bottom:10px;
}

a {
    display: block;
    width: 60px;
    
}

.about{
	margin-left: 60px;
	margin-top: 30px;
	margin-right: 60px;
}

h3{
padding-left: 30px;	
}

.bottom {
	background-color: black;
	width: 1150px;
	height: 50px;
}